{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        },
        "useBuiltIns": "entry",
        "corejs": "3",
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-export-default-from"
  ]
}
